<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox">
        <div class="login-left">

        </div>
        <div class="login-right">

          <div class="login-right-wrap">

            <form [formGroup]="loginForm" (ngSubmit)="seConnecter()">
              @if (isLoading) {
              <div class="loader-container">
                <div class="spinner"></div>
                <p>Connexion en cours...</p>
              </div>
              }
              @if(messageErreur()) {
              <div class="error-message-top">
                {{ messageErreur() }}
              </div>
              }

              <div class="form-group">
                <label for="login">Login <span class="login-danger">*</span></label>
                <input class="form-control" type="text" formControlName="login" placeholder="Entrez votre role">
                <span class="profile-views"><i class="fas fa-user-circle"></i></span>
                @if (errorMessageLogin) {
                <div class="text-danger">
                  <small>{{ errorMessageLogin }}</small>
                </div>
                }
              </div>

              <div class="form-group">
                <label for="mot_de_passe">Mot de passe <span class="login-danger">*</span></label>

                <input class="form-control pass-input" [type]="showPassword ? 'text' : 'password'"
                  formControlName="mot_de_passe" placeholder="***********">
              </div>

              @if (errorMessagepassword) {
              <div class="text-danger">
                <small>{{ errorMessagepassword }}</small>
              </div>
              }

              <div class="forgotpass">
                <div class="remember-me">
                  <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Se souvenir
                    <input type="checkbox" name="radio" formControlName="rememberMe">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <a href="forgot-password.html">Mot de passe oublié?</a>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" [disabled]="isLoading">Connexion</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>