<div class="modal-header">
  <h5 class="modal-title">Modifier le type d’administration</h5>
  <button type="button" class="btn-close" (click)="close()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="typeAdminForm" (ngSubmit)="updateTypeAdmin()">

    <div class="mb-3">
      <label class="form-label">Libellé</label>
      <input type="text" class="form-control" formControlName="libelle" />
    </div>

    @if(errorMessage) {
      <div class="alert alert-danger">{{ errorMessage }}</div>
    }

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Annuler</button>
      <button type="submit" class="btn btn-primary" [disabled]="isLoading">
        {{ isLoading ? 'En cours...' : 'Enregistrer' }}
      </button>
    </div>
  </form>
</div>
