<div class="container mt-4">
  @if(administration(); as admin) {
    <div class="row">

      <div class="col-12 mb-3 text-end">
        <button class="btn btn-primary px-4" (click)="annuler()">Annuler</button>
      </div>

      <div class="col-3 border-end">
        <ul class="nav flex-column nav-pills" role="tablist">
          <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#infos" role="tab">Informations globales</a></li>
          <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#contacts" role="tab">Contacts</a></li>
          <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#services" role="tab">Services</a></li>
          <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#horaires" role="tab">Horaires</a></li>
        </ul>
      </div>

      <div class="col-9 d-flex flex-column" style="min-height: 80vh;">
        <div class="tab-content p-3 border rounded bg-light flex-grow-1">

          <div class="tab-pane fade show active" id="infos" role="tabpanel">
            <h5 class="mb-3">Informations globales</h5>
            <ul class="list-group">
              <li class="list-group-item"><strong>Nom :</strong> {{ admin.nom }}</li>
              <li class="list-group-item"><strong>Mission :</strong> {{ admin.mission }}</li>
              <li class="list-group-item"><strong>Ministère de tutelle :</strong> {{ admin.ministereDeTutelle }}</li>
              <li class="list-group-item"><strong>Type :</strong> {{ admin?.typeAdministration?.libelle }}</li>
              <li class="list-group-item"><strong>Ville :</strong> {{ admin?.ville?.nom }}</li>
               <li class="list-group-item"><strong>Quartier :</strong> {{ admin.quartier }}</li>
              <li class="list-group-item"><strong>Latitude :</strong> {{ admin.latitude }}</li>
              <li class="list-group-item"><strong>Longitude :</strong> {{ admin.longitude }}</li>
            </ul>
          </div>


          <div class="tab-pane fade" id="contacts" role="tabpanel">
            <h5 class="mb-3">Contacts</h5>
            <div class="d-flex gap-2 mb-3">
              <input type="text" class="form-control" placeholder="Libelle" [(ngModel)]="nouveauContactLibelle">
              <select class="form-select" [(ngModel)]="nouveauContactType">
                <option value="Telephone">Téléphone</option>
                <option value="Email">Email</option>
                <option value="Fax">Fax</option>
                <option value="Autre">Autre</option>
              </select>
              <button class="btn btn-success btn-sm" (click)="ajouterContact()">Ajouter</button>
            </div>

            @if(admin.contacts?.length) {
              <table class="table table-striped">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Libellé</th>
                </tr>
              </thead>
              <tbody>
                @for(c of admin.contacts; track c.id) {
                  <tr>
                    <td>{{ c.type }}</td>
                    <td>{{ c.libelle }}</td>
                  </tr>
                }
              </tbody>
            </table>
          }
          </div>


          <div class="tab-pane fade" id="services" role="tabpanel">
            <h5 class="mb-3">Services</h5>
            <div class="d-flex gap-2 mb-3">
              <input type="text" class="form-control" placeholder="Description" [(ngModel)]="nouveauServiceDescription">
              <button class="btn btn-success btn-sm" (click)="ajouterService()">Ajouter</button>
            </div>

            @if(admin.services?.length) {
              <table class="table table-striped">
              <thead>
                <tr>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                @for(s of admin.services; track s.id) {
                  <tr>
                    <td>{{ s.description }}</td>
                  </tr>
                }
              </tbody>
            </table>
          }
          </div>


          <div class="tab-pane fade" id="horaires" role="tabpanel">
            <h5 class="mb-3">Horaires</h5>
            <div class="d-flex gap-2 mb-3">
              <select class="form-select" [(ngModel)]="nouveauHoraireJour">
                @for(jour of joursSemaine; track jour) {
                  <option [value]="jour">{{ jour }}</option>
                }
              </select>
              <input type="time" class="form-control" [(ngModel)]="nouveauHoraireOuverture">
              <input type="time" class="form-control" [(ngModel)]="nouveauHoraireFermeture">
              <button class="btn btn-success btn-sm" (click)="ajouterHoraire()">Ajouter</button>
            </div>

            @if(admin.horaires?.length) {
              <table class="table table-striped">
              <thead>
                <tr>
                  <th>Jour</th>
                  <th>Ouverture</th>
                  <th>Fermeture</th>
                </tr>
              </thead>
              <tbody>
                @for(h of admin.horaires; track h.id) {
                  <tr>
                    <td>{{ h.jour }}</td>
                    <td>{{ h.heureOuverture }}</td>
                    <td>{{ h.heureFermeture }}</td>
                  </tr>
                }
              </tbody>
            </table>
          }
          </div>

        </div>
      </div>
    </div>
  }
</div>
