
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-sub-header">
        <h1 class="page-title">Liste des administrations</h1>
      </div>
    </div>
  </div>
</div>

<div class="student-group-form">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Recherche ID">
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Recherche nom">
      </div>
    </div>
    <div class="col-lg-2">
      <div class="search-student-btn">
        <button type="button" class="btn btn-primary">Recherche</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card card-table comman-shadow">
      <div class="card-body">

        <div class="page-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="page-title">Administrations</h3>
            </div>
            <div class="col-auto text-end float-end ms-auto download-grp">
              <a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Download</a>
              <a (click)="open()" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
            <thead class="student-thread">
              <tr>
                <th>Nom</th>
                <th>Ministère de tutelle</th>
                <th class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              @for (admin of administrations(); track admin.id) {
                <tr>
                  <td>{{ admin.nom }}</td>
                  <td>{{ admin.ministereDeTutelle }}</td>
                  <td class="text-end">
                    <div class="actions">

                      <a [routerLink]="['/administration/detailspage', admin.id]" class="btn btn-sm bg-info-light">
                        <i class="feather-eye"></i>
                      </a>

                      <a class="btn btn-sm bg-success-light" (click)="openEdit(admin)">
                        <i class="feather-edit"></i>
                      </a>

                      <a class="btn btn-sm bg-danger-light" (click)="deleteAdministration(admin.id)">
                        <i class="feather-delete"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

