<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-sub-header">
        <h1 class="page-title">Listes des utilisateurs</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card card-table comman-shadow">
      <div class="card-body">

        <div class="page-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="page-title">Utilisateurs</h3>
            </div>
            <div class="col-auto text-end float-end ms-auto download-grp">
              <a (click)="open()" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
            <thead class="student-thread">
              <tr>
                <th>Login</th>
                <th>role</th>
                <th class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              @for (user of users(); track user) {
              <tr>
                <td>{{ user.login }}</td>
                <td>{{ user.role.nom }}</td>
                <td class="text-end">
                  <div class="actions">
                    <a class="btn btn-sm bg-danger-light" (click)="openEdit(user)">
                      <i class="feather-edit"></i>
                    </a>
                    <a class="btn btn-sm bg-danger-light" (click)="deleteUser(user.id)">
                      <i class="feather-trash-2"></i>
                    </a>
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>

        </div>
      </div>
    </div>
