<div class="header-section">
  <!-- Message de bienvenue -->
  <div class="welcome-message">
    <h1>Bienvenue sur l'annuaire des administrations</h1>
    <p>Recherchez, explorez et localisez vos administrations facilement</p>
  </div>

  <div class="search-filter">
    <input
      type="text"
      placeholder="Rechercher..."
      [formControl]="form.controls.search"
      (keyup.enter)="applySearch()"
    />

    <ng-select
      [items]="categories"
      bindLabel="libelle"
      bindValue="id"
      [formControl]="form.controls.categorie"
      placeholder="Toutes catégories"
      [clearable]="false"
    >
    </ng-select>

    <button type="button" (click)="applySearch()">Rechercher</button>
  </div>
</div>
